@page "/"

<PageTitle>Index</PageTitle>

<h1>Bem Vindos!</h1>

Projeto desenvolvido em Blazor, utilizando Dapper e integrado com o banco de dados SQL Server.

<SurveyPrompt Title="How is Blazor working for you?" />
